
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " th:href="@{/dashboard}">
          <i class="bi bi-grid"></i>
          <span>ダッシュボード</span>
        </a>
      </li><!-- End Dashboard Nav -->
      
      <li class="nav-item" th:if="${session['loginInfo'].isAdmin()}">
        <a class="nav-link " th:href="@{/company/regi}">
          <i class="bi bi-box-arrow-in-up"></i>
          <span>企業登録</span>
        </a>
      </li><!-- End Components Nav -->
      
      <li class="nav-item" th:if="${session['loginInfo'].isAdmin() || session['loginInfo'].isStudent()}">
        <a class="nav-link " th:href="@{/company/search}">
          <i class="bi bi-search"></i>
          <span>企業検索</span>
        </a>
      </li><!-- End Components Nav -->
      
      <li class="nav-item" th:if="${session['loginInfo'].isAdmin() || session['loginInfo'].isCompany()}">
        <a class="nav-link " th:href="@{/job/regi}">
          <i class="bi bi-box-arrow-in-up"></i>
          <span>求人登録</span>
        </a>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link " th:href="@{/job/search}">
          <i class="bi bi-search"></i>
          <span>説明会検索</span>
        </a>
      </li><!-- End Components Nav -->
      

      <li class="nav-item" th:if="${session['loginInfo'].isStudent()}">
        <a class="nav-link " th:href="@{/student/progress}">
          <i class="bi bi-pencil"></i>
          <span>受験中一覧</span>
        </a>
      </li><!-- End Components Nav -->
      
      <li class="nav-item" th:if="${session['loginInfo'].isAdmin() || session['loginInfo'].isStudent()}">
        <a class="nav-link " th:href="@{/student/favorit}">
          <i class="bi bi-suit-heart-fill"></i>
          <span>お気に入り</span>
        </a>
      </li><!-- End Components Nav -->
      
      <li class="nav-item">
        <a class="nav-link " th:href="@{/student/detail}">
          <i class="bi bi-person-fill"></i>
          <span>マイページ</span>
        </a>
      </li><!-- End マイページ Nav -->
      
      <li class="nav-item" th:if="${session['loginInfo'].isAdmin()}">
        <a class="nav-link " th:href="@{/susupended/list}">
          <i class="bi bi-person-fill"></i>
          <span>斡旋停止者一覧</span>
        </a>
      </li><!-- End 斡旋停止者一覧 Nav -->
      
      <li class="nav-item" th:if="${session['loginInfo'].isAdmin()}">
        <a class="nav-link " th:href="@{/joboffer/list}">
          <i class="bi bi-person-fill"></i>
          <span>内定者一覧</span>
        </a>
      </li><!-- End 内定者一覧 Nav -->

      <li class="nav-item" th:if="${session['loginInfo'].isAdmin()}">
        <a class="nav-link " th:href="@{/info/regi}">
          <i class="bi bi-person-fill"></i>
          <span>お知らせ登録</span>
        </a>
      </li><!-- End お知らせ登録 Nav -->
      
      <li class="nav-item" th:if="${session['loginInfo'].isAdmin()}">
        <a class="nav-link collapsed" data-bs-target="#user-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people-fill"></i><span>ユーザー</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="user-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/usert/search}">
              <i class="bi bi-circle"></i><span>ユーザー検索</span>
            </a>
          </li>
          <li>
            <a th:href="@{/user/regi}">
              <i class="bi bi-circle"></i><span>ユーザー登録</span>
            </a>
          </li>
          <li>
            <a href="passwordreset.html">
              <i class="bi bi-circle"></i><span>パスワードリセット</span>
            </a>
          </li>
        </ul>
      </li><!-- End ユーザー Nav -->
      
      <li class="nav-item" th:if="${session['loginInfo'].isStudent()}">
        <a class="nav-link collapsed" data-bs-target="#report-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people-fill"></i><span>報告書（学生のみ）</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="report-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="exam-report.html">
              <i class="bi bi-circle"></i><span>受験報告書（学生のみ）</span>
            </a>
          </li>
          <li>
            <a href="final-report.html">
              <i class="bi bi-circle"></i><span>進路決定届（学生のみ）</span>
            </a>
          </li>
        </ul>
      </li><!-- End ユーザー Nav -->
      
      <li class="nav-item" th:if="${session['loginInfo'].isAdmin()}">
        <a class="nav-link " href="index.html">
          <i class="bi bi-server"></i>
          <span>マスターメンテ</span>
        </a>
      </li><!-- End マスター Nav -->
  </aside><!-- End Sidebar-->