
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " th:href="@{/dashboard}">
          <i class="bi bi-grid"></i>
          <span>ダッシュボード</span>
        </a>
      </li><!-- End Dashboard Nav -->
      
      <li class="nav-item">
        <a class="nav-link " th:href="@{/inputcompany}">
          <i class="bi bi-box-arrow-in-up"></i>
          <span>企業登録（管理者のみ）</span>
        </a>
      </li><!-- End Components Nav -->
      
      <li class="nav-item">
        <a class="nav-link " href="search-company.html">
          <i class="bi bi-search"></i>
          <span>企業検索</span>
        </a>
      </li><!-- End Components Nav -->
      
      <li class="nav-item">
        <a class="nav-link " th:href="@{/inputjob}">
          <i class="bi bi-box-arrow-in-up"></i>
          <span>求人登録（管理者・企業のみ）</span>
        </a>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link " href="search-job-seminar.html">
          <i class="bi bi-search"></i>
          <span>説明会検索</span>
        </a>
      </li><!-- End Components Nav -->
      

      <li class="nav-item">
        <a class="nav-link " href="progress-list.html">
          <i class="bi bi-pencil"></i>
          <span>受験中一覧（学生のみ）</span>
        </a>
      </li><!-- End Components Nav -->
      
      <li class="nav-item">
        <a class="nav-link " href="favorit_list.html">
          <i class="bi bi-suit-heart-fill"></i>
          <span>お気に入り</span>
        </a>
      </li><!-- End Components Nav -->
      
      <li class="nav-item">
        <a class="nav-link " href="student-detail.html">
          <i class="bi bi-person-fill"></i>
          <span>マイページ</span>
        </a>
      </li><!-- End マイページ Nav -->
      
      <li class="nav-item">
        <a class="nav-link " href="suspended-list.html">
          <i class="bi bi-person-fill"></i>
          <span>斡旋停止者一覧（管理者のみ）</span>
        </a>
      </li><!-- End 斡旋停止者一覧 Nav -->
      
      <li class="nav-item">
        <a class="nav-link " href="official-job-offer-list.html">
          <i class="bi bi-person-fill"></i>
          <span>内定者一覧（管理者のみ）</span>
        </a>
      </li><!-- End 斡旋停止者一覧 Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#user-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people-fill"></i><span>ユーザー</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="user-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="search-student.html">
              <i class="bi bi-circle"></i><span>学生検索（管理者のみ）</span>
            </a>
          </li>
          <li>
            <a href="student-entry.html">
              <i class="bi bi-circle"></i><span>学生登録（管理者のみ）</span>
            </a>
          </li>
          <li>
            <a href="passwordreset.html">
              <i class="bi bi-circle"></i><span>パスワードリセット（管理者のみ）</span>
            </a>
          </li>
        </ul>
      </li><!-- End ユーザー Nav -->
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#report-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people-fill"></i><span>報告書（学生のみ）</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="report-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="exam-report.html">
              <i class="bi bi-circle"></i><span>受験報告書（学生のみ）</span>
            </a>
          </li>
          <li>
            <a href="final-report.html">
              <i class="bi bi-circle"></i><span>進路決定届（学生のみ）</span>
            </a>
          </li>
        </ul>
      </li><!-- End ユーザー Nav -->
      
      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-server"></i>
          <span>マスターメンテ</span>
        </a>
      </li><!-- End マスター Nav -->
  </aside><!-- End Sidebar-->