<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/headerlink"></div>  
</head>

<body>

  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/header"></div>  

  <!-- サイドバー -->
  <div id="parent" th:replace="/common/sidebar"></div>  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>企業登録</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">企業登録</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
    	<div class="row">
    		<div class="col-lg-12">
    			<div class="card">
    				<div class="card-body">
    					<h5 class="card-title">企業情報入力</h5>
    					<div class="row mb-3">
		                  <label for="inputNumber" class="col-sm-2 col-form-label">pdfより読み込み</label>
		                  <div class="col-sm-10">
		                    <input class="form-control" type="file" id="formFile">
		                  </div>
		                </div>
		                <form>
		                	<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">企業名</label>
								<div class="col-sm-10">
									<input type="text" class="form-control">
								</div>
							</div>
		                	<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">企業名フリガナ</label>
								<div class="col-sm-10">
									<input type="text" class="form-control">
								</div>
							</div>
		                	<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">所在地</label>
								<div class="col-sm-10">
									<input type="text" class="form-control">
								</div>
							</div>
		                	<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">企業コード</label>
								<div class="col-sm-4">
									<input type="text" class="form-control">
								</div>
								<label for="inputText" class="col-sm-2 col-form-label">資本金</label>
								<div class="col-sm-4">
									<input type="text" class="form-control">万円
								</div>
							</div>
		                	<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">設立年（西暦）</label>
								<div class="col-sm-4">
									<input type="text" class="form-control">
								</div>
								<label for="inputText" class="col-sm-2 col-form-label">年商</label>
								<div class="col-sm-4">
									<input type="text" class="form-control">万円
								</div>
							</div>
		                	<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">担当者名</label>
								<div class="col-sm-2">
									<input type="text" class="form-control">
								</div>
								<label for="inputText" class="col-sm-2 col-form-label">担当者メール</label>
								<div class="col-sm-2">
									<input type="text" class="form-control">
								</div>
								<label for="inputText" class="col-sm-2 col-form-label">担当者電話番号</label>
								<div class="col-sm-2">
									<input type="text" class="form-control">
								</div>
							</div>
		                	<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">企業サイトURL</label>
								<div class="col-sm-10">
									<input type="text" class="form-control">
								</div>
							</div>
		                	<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">募集職種</label>
								<div class="col-sm-10">
									<div class="accordion" id="accordionExample">
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingOne">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
													IT系
												</button>
											</h2>
											<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
												<div class="accordion-body">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck1">
														<label class="form-check-label" for="gridCheck1">
															システムエンジニア
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
														<label class="form-check-label" for="gridCheck2">
															プログラマ
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
														<label class="form-check-label" for="gridCheck2">
															運用オペレータ
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
														<label class="form-check-label" for="gridCheck2">
															カスタマーエンジニア
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
														<label class="form-check-label" for="gridCheck2">
															IT系営業
														</label>
													</div>
												</div>
											</div>
										</div>
										<!-- accordion-item -->
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingTwo">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
													ビジネス系
												</button>
											</h2>
											<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
												<div class="accordion-body">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck1">
														<label class="form-check-label" for="gridCheck1">
															事務
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
														<label class="form-check-label" for="gridCheck2">
															営業
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
														<label class="form-check-label" for="gridCheck2">
															販売
														</label>
													</div>
												</div>
											</div>
										</div><!-- accordion-item --><!-- accordion-item -->
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingThree">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#headingThree" aria-expanded="false" aria-controls="headingThree">
													医療系
												</button>
											</h2>
											<div id="headingThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
												<div class="accordion-body">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck1">
														<label class="form-check-label" for="gridCheck1">
															理学療法士
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
														<label class="form-check-label" for="gridCheck2">
															医学療法士
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
														<label class="form-check-label" for="gridCheck2">
															言語聴覚士
														</label>
													</div>
												</div>
											</div>
										</div><!-- accordion-item -->
									</div><!-- accordion -->
								</div>
							</div>
		                </form><!--form-->
    				</div>
    			</div><!-- card -->
    		</div><!-- col-lg-12 -->
    	</div><!--row-->
    </section>

  </main><!-- End #main -->

  <!-- フッター -->
  <div id="parent" th:replace="/common/footer"></div>  
  <!-- フッターリンク -->
  <div id="parent" th:replace="/common/footerlink"></div>  

</body>

</html>