<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/headerlink"></div>  
</head>

<body>

  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/header"></div>  

  <!-- サイドバー -->
  <div id="parent" th:replace="/common/sidebar"></div>  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>企業検索</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
    	<div class="row">
    		<div class="col-lg-12">
    			<div class="card">
    				<div class="card-body">
    					<h5 class="card-title">検索条件</h5>
		                	<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">企業名</label>
								<div class="col-sm-4">
									<input type="text" id="companyName" class="form-control">
								</div>
								<label for="inputText" class="col-sm-2 col-form-label">所在地</label>
								<div class="col-sm-4">
									<input type="text" id="companyAddress" class="form-control">
								</div>
							</div>
		                	<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">募集職種</label>
								<div class="col-sm-10">
									<div class="accordion" id="accordionExample">
										<div class="accordion-item" th:each="industry : ${industryList}">
											<h2 class="accordion-header" th:id="|heading${industry.id}|">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="|#collapse${industry.id}|" aria-expanded="false" th:aria-controls="|collapse${industry.id}|" th:text="${industry.name}">
												</button>
											</h2>
											<div th:id="|collapse${industry.id}|" class="accordion-collapse collapse" th:aria-labelledby="|heading${industry.id}|" data-bs-parent="#accordionExample">
												<div class="accordion-body">
													<div th:each="kind : ${industry.kindList}" class="form-check">
														<input class="form-check-input" type="checkbox" th:value="${kind.id}" th:name="|industryKind${industry.id}|" >
														<label class="form-check-label" for="gridCheck1" th:text="${kind.name}">
															
														</label>
													</div>
												</div>
											</div>
										</div><!-- accordion-item -->
									</div><!-- accordion -->
								</div>
							</div>
							<div class="d-grid gap-2 col-6 mx-auto">
								<button id="searchButton" class="btn btn-outline-primary">検索</button>
							</div>
    				</div>
    			</div><!-- card -->
    		</div><!-- col-lg-12 -->
    	</div><!--row-->
    	<div class="row">
    		 <div class="col-lg-12">
    		 	<div class="card">
    		 		<div class="card-body">
              			<h5 class="card-title">検索結果</h5>
              			<button class="btn btn-outline-primary">CSV出力</button>
              			<table class="table table-bordered table-striped" id="companyList">
	              			<thead>
			                  <tr>
			                    <th>企業名</th>
			                    <th>ヨミガナ</th>
			                    <th>お気に入り登録</th>
			                  </tr>
			                </thead>
			                <tbody>
			                </tbody>
              			</table><!-- table -->
              		</div><!-- card-body -->
    		 	</div><!-- card -->
    		 </div><!-- col-lg-12 -->
    	</div><!--row-->
    </section>

  </main><!-- End #main -->

  <!-- フッター -->
  <div id="parent" th:replace="/common/footer"></div>  
  <!-- フッターリンク -->
  <div id="parent" th:replace="/common/footerlink"></div>  
<link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.0.0/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.0.0/datatables.min.js"></script>
</body>
<script th:inline="javascript">
	const searchButton = document.getElementById("searchButton");
	let  dataTable = $('#companyList').DataTable({
	   	      "paging": true,
      			"destroy":true,
	   	      "lengthChange": false,
	   	      "searching": true,
	   	      "ordering": true,
	   	      "info": true,
	   	      "autoWidth": false,
	   	      "responsive": true,
    });

	const clickFavorit =(companyId) =>{
		alert(companyId);
	};
	
	searchButton.addEventListener('click',()=>{
		const companyName = document.getElementById("companyName");
		const companyAddress = document.getElementById("companyAddress");		
 		let industryArry = [];
 		let index = 0;
 		for(let id=1; id <= /*[[${industryList.size()}]]*/0; id++){
 			const industryKind = document.getElementsByName("industryKind"+id);
 			for( let i=0; i<industryKind.length; i++){
 				if( industryKind[i].checked ){
 					industryArry[index] = industryKind[i].value
 					index++;
 				}
 			}
 		} 		
 		
 		const formData = new FormData();
 		formData.append('companyName',companyName.value );
 		formData.append('companyAddress',companyAddress.value );
 		formData.append('industryArry',industryArry );
 		 		
        const url = /*[[@{/company/search/result}]]*/ "/company/search/result";
        fetch(url,{method:"post",body: formData})
        //レスポンスの受け取り
        .then( response => response.json()).then(resultList => {
 			//alert( resultList.length );
 			dataTable.clear();
 			dataTable.destroy();
 			
   		  dataTable = $('#companyList').DataTable({
	   	      "paging": true,
      			"destroy":true,
	   	      "lengthChange": false,
	   	      "searching": true,
	   	      "ordering": true,
	   	      "info": true,
	   	      "autoWidth": false,
	   	      "responsive": true,
				"data":resultList,
	            "columns": [
	            	{
	            		data:"name" ,
	            		type:"id",
	                	render: function ( data, type, row ) {
	                		const url = /*[[@{/company/detail}]]*/ "/company/detail";

	                		return '<a href="'+url+'?id='+row.id+'" target="companydetail">'+data+'</a>';
	                	}
	            	},
	            	{ data:"kana"},
	            	{
	            		data:"name" ,
	            		type:"id",
	                	render: function ( data, type, row ) {
	                		const url = /*[[@{/user/info}]]*/ "/user/info";

	                		return '<button type="button" class="btn btn-danger" onClick="javascript:clickFavorit('+row.id+')"><i class="bi bi-heart-fill"></i></button>';
	                	}
	            	}
	            ]
	   	    });
	   	    dataTable.draw();
 			//resultList.forEach(
 			//	element =>{
 			//		alert( element.name );
 			//	}
 			//);
 		});
	});
</script>
</html>