<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/headerlink"></div>  
</head>

<body>
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/header"></div>  

  <!-- サイドバー -->
  <div id="parent" th:replace="/common/sidebar"></div>  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>ダッシュボード</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">           

            <!-- お知らせ -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">お知らせ</h5>
				  <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
	               未読の重要なお知らせがあります。
	              </div>
                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">日付</th>
                        <th scope="col">タイトル</th>
                        <th scope="col">種類</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row"><a href="#">既</a></td>
                        <td>2022/5/10</td>
                        <td><a href="#" class="text-primary">説明会情報が追加されました</a></td>
                        <td><span class="badge bg-success">情報</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">未</a></th>
                        <td>2022/5/9</td>
                        <td><a href="#" class="text-primary">〇×社の書類〆切について</a></td>
                        <td><span class="badge bg-danger">重要</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">未</a></th>
                        <td>2022/5/8</td>
                        <td><a href="#" class="text-primary">求人情報が追加されました</a></td>
                        <td><span class="badge bg-success">情報</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">未</a></th>
                        <td>2022/5/8</td>
                        <td><a href="#" class="text-primary">△△社の選考結果について</a></td>
                        <td><span class="badge bg-success">情報</span></td>
                      </tr>
                      <tr>
                        <td scope="row"><a href="#">既</a></td>
                        <td>2022/5/8</td>
                        <td><a href="#" class="text-primary">△△社の採用試験の変更について</a></td>
                        <td><span class="badge bg-danger">重要</span></td>
                      </tr>
                      <tr>
                        <td scope="row"><a href="#">既</a></td>
                        <td>2022/5/8</td>
                        <td><a href="#" class="text-primary">△△社の採用試験について</a></td>
                        <td><span class="badge bg-danger">重要</span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End お知らせ -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">月別内定率（教員・就職課用）</h5>

                  <!-- Line Chart -->
                  <div id="reportsChart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#reportsChart"), {
                        series: [{
                          name: 'system',
                          data: [0, 5, 12, 30, 75, 82, 90],
                        }, {
                          name: 'business',
                          data: [0, 0, 0, 12, 34, 52, 67]
                        }],
                        chart: {
                          height: 350,
                          type: 'area',
                          toolbar: {
                            show: false
                          },
                        },
                        markers: {
                          size: 4
                        },
                        colors: ['#4154f1', '#2eca6a'],
                        fill: {
                          type: "gradient",
                          gradient: {
                            shadeIntensity: 1,
                            opacityFrom: 0.3,
                            opacityTo: 0.4,
                            stops: [0, 90, 100]
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        stroke: {
                          curve: 'smooth',
                          width: 2
                        },
                        xaxis: {
                          type: 'date',
                          categories: ["2022/01", "2022/02", "2022/03", "2022/04", "2022/05", "2022/06", "2022/07"]
                        },
                        tooltip: {
                          x: {
                            format: 'yy/MM'
                          },
                        }
                      }).render();
                    });
                  </script>
                  <!-- End Line Chart -->

                </div>

              </div>
            </div><!-- End Reports -->


            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">
                <div class="card-body pb-0">
                  <h5 class="card-title">活動状況一覧（教員・就職課用）</h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">学籍番号</th>
                        <th scope="col">クラス</th>
                        <th scope="col">氏名</th>
                        <th scope="col">状況</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1234567</td>
                        <td>SD3D</td>
                        <td><a href="#" class="text-primary">麻生次郎</a></td>
                        <td><span class="badge bg-danger">斡旋停止中</span></td>
                      </tr>
                      <tr>
                        <td>1234567</td>
                        <td>SD3D</td>
                        <td><a href="#" class="text-primary">情報太郎</a></td>
                        <td><span class="badge bg-primary">活　動　中</span></td>
                      </tr>
                      <tr>
                        <td>1234567</td>
                        <td>SD3D</td>
                        <td><a href="#" class="text-primary">検定三郎</a></td>
                        <td><span class="badge bg-success">進路決定済</span></td>
                      </tr>
                      <tr>
                        <td>1234567</td>
                        <td>SD3D</td>
                        <td><a href="#" class="text-primary">大学進学野郎</a></td>
                        <td><span class="badge bg-secondary"> 希望せず </span></td>
                      </tr>
                      <tr>
                        <td>1234567</td>
                        <td>SD3D</td>
                        <td><a href="#" class="text-primary">麻生四郎</a></td>
                        <td><span class="badge bg-primary">活　動　中</span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->


        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  <!-- フッター -->
  <div id="parent" th:replace="/common/footer"></div>  
  <!-- フッターリンク -->
  <div id="parent" th:replace="/common/footerlink"></div>  

</body>

</html>