<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/headerlink"></div>  
</head>

<body>
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/header"></div>  

  <!-- サイドバー -->
  <div id="parent" th:replace="/common/sidebar"></div>  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>ダッシュボード</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">           
            <!-- お知らせ -->
            <div class="col-12" th:if="${session['loginInfo'].isStudent()}">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">お知らせ</h5>
				  <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
	               未読の重要なお知らせがあります。
	              </div>
	              <div th:if="${infoList!=null and infoList.isEmpty()}">お知らせはありません</div>
                  <table class="table table-borderless datatable"　id="companyList" th:if="${infoList!=null and !infoList.isEmpty()}">
                    <thead>
                      <tr>
                        <th scope="col">未既読</th>
                        <th scope="col">日付</th>
                        <th scope="col">タイトル</th>
                        <th scope="col">種類</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="element:${infoList}">
                        <td th:text="${element.alreadReadFlg}? '既' : '未'" th:classappend="${element.alreadReadFlg} ? '' : unreadfont"></td>
                        <td th:text="${element.getDateString()}" th:classappend="${element.alreadReadFlg} ? '' : unreadfont"></td>
                        <td th:classappend="${element.alreadReadFlg} ? '' : unreadfont">
                          <a th:href="|javascript:dispInfoDetail(${element.id},${element.kind},${element.alreadReadFlg});|" class="text-primary" th:text="${element.title}">説明会情報が追加されました</a>
                        </td>
                        <td th:classappend="${element.alreadReadFlg} ? '' : unreadfont">
                          <span class="badge bg-primary" th:if="${element.level.isNormal()}" >情報</span>
                          <span class="badge bg-danger" th:if="${element.level.isImportant()}" >重要</span>
                          <div th:if="${element.level.isEmergency()}" class="d-flex">
                          	<i th:if="${element.level.isEmergency()}" class="ri-alarm-warning-fill emicon"></i>
                          	<span class="badge bg-danger" th:if="${element.level.isEmergency()}" >緊急</span>
                          	<i th:if="${element.level.isEmergency()}" class="ri-alarm-warning-fill emicon"></i>
                          </div>
                          <span class="badge bg-warning" th:if="${element.level.isWarning()}" >警告</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div><!-- End お知らせ -->
            
            <!-- Reports -->
            <div class="col-12" th:if="${session['loginInfo'].isAdmin()}">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">月別内定率（教員・就職課用）</h5>

                  <!-- Line Chart -->
                  <div id="reportsChart"></div>

                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new ApexCharts(document.querySelector("#reportsChart"), {
                        series: [{
                          name: 'system',
                          data: [0, 5, 12, 30, 75, 82, 90],
                        }, {
                          name: 'business',
                          data: [0, 0, 0, 12, 34, 52, 67]
                        }],
                        chart: {
                          height: 350,
                          type: 'area',
                          toolbar: {
                            show: false
                          },
                        },
                        markers: {
                          size: 4
                        },
                        colors: ['#4154f1', '#2eca6a'],
                        fill: {
                          type: "gradient",
                          gradient: {
                            shadeIntensity: 1,
                            opacityFrom: 0.3,
                            opacityTo: 0.4,
                            stops: [0, 90, 100]
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        stroke: {
                          curve: 'smooth',
                          width: 2
                        },
                        xaxis: {
                          type: 'date',
                          categories: ["2022/01", "2022/02", "2022/03", "2022/04", "2022/05", "2022/06", "2022/07"]
                        },
                        tooltip: {
                          x: {
                            format: 'yy/MM'
                          },
                        }
                      }).render();
                    });
                  </script>
                  <!-- End Line Chart -->

                </div>

              </div>
            </div><!-- End Reports -->


            <!-- Top Selling -->
            <div class="col-12" th:if="${session['loginInfo'].isAdmin()}">
              <div class="card top-selling overflow-auto">
                <div class="card-body pb-0">
                  <h5 class="card-title">活動状況一覧（教員・就職課用）</h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">学籍番号</th>
                        <th scope="col">クラス</th>
                        <th scope="col">氏名</th>
                        <th scope="col">状況</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1234567</td>
                        <td>SD3D</td>
                        <td><a href="#" class="text-primary">麻生次郎</a></td>
                        <td><span class="badge bg-danger">斡旋停止中</span></td>
                      </tr>
                      <tr>
                        <td>1234567</td>
                        <td>SD3D</td>
                        <td><a href="#" class="text-primary">情報太郎</a></td>
                        <td><span class="badge bg-primary">活　動　中</span></td>
                      </tr>
                      <tr>
                        <td>1234567</td>
                        <td>SD3D</td>
                        <td><a href="#" class="text-primary">検定三郎</a></td>
                        <td><span class="badge bg-success">進路決定済</span></td>
                      </tr>
                      <tr>
                        <td>1234567</td>
                        <td>SD3D</td>
                        <td><a href="#" class="text-primary">大学進学野郎</a></td>
                        <td><span class="badge bg-secondary"> 希望せず </span></td>
                      </tr>
                      <tr>
                        <td>1234567</td>
                        <td>SD3D</td>
                        <td><a href="#" class="text-primary">麻生四郎</a></td>
                        <td><span class="badge bg-primary">活　動　中</span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->


        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->
  
  <button id="infodetailmodal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDialogScrollable" style="display:none"></button>
  <div class="modal fade" id="modalDialogScrollable" tabindex="-1"><!-- start Modal Dialog Scrollable-->
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="infodetailTitle"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="infodetailText">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </div><!-- End Modal Dialog Scrollable-->
  
  <script th:inline="javascript">
  	const infoModalBtn = document.getElementById("infodetailmodal");
  	
  	//既読処理
  	const readTimer = (id,type)=>{
 		const formData = new FormData();
 		formData.append('id',id );
 		formData.append('type',type );
        const url = /*[[@{/info/readInfo}]]*/ "/info/readInfo";
        fetch(url,{method:"post",body: formData});
  	}
  	
  	//お知らせ情報詳細表示
  	const dispInfoDetail = (id,type,alreadReadFlg)=>{
  	
  		//お知らせの詳細データを再度取得する
 		const formData = new FormData();
 		formData.append('id',id );
 		formData.append('type',type );
 		 		
        const url = /*[[@{/info/detail}]]*/ "/info/detail";
        fetch(url,{method:"post",body: formData})
        //レスポンスの受け取り
        .then( response => response.json()).then(result => {
 			if( result.result == "OK"){
 				const infodetailText = document.getElementById("infodetailText");
 				const infodetailTitle = document.getElementById("infodetailTitle");
 				
 				let iconHTML = "";
 				//alert(result.level);
 				if( result.level == "NORMAL" ){
 					iconHTML = '<span class="badge bg-primary" >情報</span>';
 				}else if(result.level == "IMPORTANT" ){
 					iconHTML = '<span class="badge bg-danger" >重要</span>';
 				}else if(result.level == "EMERGENCY" ){
 					iconHTML = '<span class="badge bg-danger" >重要</span>';
 				}else if(result.level == "WARNING" ){
 					iconHTML = '<span class="badge bg-warning" >警告</span>';
 				}
 				infodetailText.innerHTML = result.msg.replace(/\n/g,"<BR>");;
 				infodetailTitle.innerHTML = "お知らせ情報："+iconHTML+" "+result.title;
 				
 			}else{
 				alert("エラーが発生しました！");
 				for(var err of result.errorList ){
 					console.log(err.msg);
 				}
 			}
 		});
  		
  		infoModalBtn.click();
  		//未読の場合はタイマー発動
  		if( !alreadReadFlg ){
  			setTimeout(readTimer, 3000, id,type);
  		}
  	}
  </script>
  <!-- フッター -->
  <div id="parent" th:replace="/common/footer"></div>  
  <!-- フッターリンク -->
  <div id="parent" th:replace="/common/footerlink"></div>  

</body>
</html>