<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/headerlink"></div>  
</head>

<body>

  
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/header"></div>  
  
  <!-- サイドバー -->
  <div id="parent" th:replace="/common/sidebar"></div> 

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>イベント検索</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
    	<div class="row">
    		<div class="col-lg-12">
    			<div class="card">
    				<div class="card-body">
    					<h5 class="card-title">検索条件</h5>
		                	<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label" th:if="!${session['loginInfo'].isCompany()}">企業名</label>
								<div class="col-sm-4" th:if="!${session['loginInfo'].isCompany()}">
									<input type="text" class="form-control" id="companyName">
								</div>
								<label for="inputText" class="col-sm-2 col-form-label">イベント種類</label>
								<div class="col-sm-4">
									<div class="form-check-inline" th:each="step,stat : ${stepList}">
										<input class="form-check-input" type="checkbox" name="stepchk" th:value="${step.id}">
										<label class="form-check-label" for="gridCheck" th:text="${step.name}">
											
										</label>
									</div>
								</div>
							</div>
		                	<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">開催日</label>
								<div class="col-sm-8 d-flex">
									<input type="date" class="form-control" id="startDate">～<input type="date" class="form-control" id="endDate">
								</div>
							</div>
		                	<div class="row mb-3">
		                		<div class="col-sm-12">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" id="gridCheck1">
										<label class="form-check-label" for="gridCheck1">
											終了分も表示する
										</label>
									</div>
		                		</div>
							</div>
		                	<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">勤務地</label>
								<div class="col-sm-10"><div class="accordion" id="accordionExample">
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingPlace">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePlace" aria-expanded="false" aria-controls="collapseOne">
													勤務地
												</button>
											</h2>
											<div id="collapsePlace" class="accordion-collapse collapse" aria-labelledby="headingPlace" data-bs-parent="#accordionExample">
												<div class="accordion-body">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck1">
														<label class="form-check-label" for="gridCheck1">
															福岡
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
														<label class="form-check-label" for="gridCheck2">
															佐賀
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
														<label class="form-check-label" for="gridCheck2">
															熊本
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
														<label class="form-check-label" for="gridCheck2">
															長崎
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
														<label class="form-check-label" for="gridCheck2">
															大分
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
														<label class="form-check-label" for="gridCheck2">
															宮﨑
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
														<label class="form-check-label" for="gridCheck2">
															鹿児島
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
														<label class="form-check-label" for="gridCheck2">
															関東
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
														<label class="form-check-label" for="gridCheck2">
															その他
														</label>
													</div>
												</div>
											</div>
										</div><!-- accordion-item -->
									</div><!-- accordion -->
								</div>
							</div>
		                	<div class="row mb-3">
								<label for="inputText" class="col-sm-2 col-form-label">募集職種</label>
								<div class="col-sm-10">
									<div class="accordion" id="accordionExample">
										<div class="accordion-item" th:each="industry,stat : ${industryList}">
											<h2 class="accordion-header" th:id="|heading${industry.id}|">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="|#collapse${industry.id}|" aria-expanded="false" th:aria-controls="|collapse${industry.id}|" th:text="${industry.name}">
												</button>
											</h2>
											<div th:id="|collapse${industry.id}|" class="accordion-collapse collapse" th:aria-labelledby="|heading${industry.id}|" data-bs-parent="#accordionExample">
												<div class="accordion-body">
													<div th:each="kind : ${industry.kindList}" class="form-check">
														<input class="form-check-input" type="checkbox" th:value="${kind.id}" th:name="|industryKind${stat.count}|" th:checked="${industry.isContainList(kind.id)}">
														<label class="form-check-label" for="gridCheck1" th:text="${kind.name}">
															
														</label>
													</div>
												</div>
											</div>
										</div><!-- accordion-item -->
									</div><!-- accordion -->
								</div>
							</div>
							<div class="d-grid gap-2 col-6 mx-auto">
								<button class="btn btn-outline-primary" id="eventsearchButton">検索</button>
							</div>
    				</div>
    			</div><!-- card -->
    		</div><!-- col-lg-12 -->
    	</div><!--row-->
    	<div class="row">
    		 <div class="col-lg-12">
    		 	<div class="card">
    		 		<div class="card-body">
              			<h5 class="card-title">検索結果</h5>
              			<div class="d-flex p-3">
              				<button class="btn btn-outline-primary m-2">CSV出力</button>
              				<button class="btn btn-outline-primary m-2" id="eventEntryButton" th:if="${session['loginInfo'].isStudent()}" >イベント一括申し込み</button>
              				<button class="btn btn-outline-primary m-2" id="eventEntryOnBehalfButton" th:if="${session['loginInfo'].isAdmin()}"　>代理申し込み</button>
              			</div>
              			<table class="table table-bordered table-striped" id="eventList">
	              			<thead>
			                  <tr>
			                    <th scope="col">#</th>
			                    <th scope="col">企業名</th>
			                    <th scope="col">種類</th>
			                    <th scope="col">開始日時</th>
			                    <th scope="col">終了日時</th>
			                    <th scope="col" th:if="${session['loginInfo'].isAdmin()}">参加者一覧</th>
			                  </tr>
			                </thead>
			                <tbody>
			                </tbody>
              			</table><!-- table -->
              		</div><!-- card-body -->
    		 	</div><!-- card -->
    		 </div><!-- col-lg-12 -->
    	</div><!--row-->
    </section>

  </main><!-- End #main -->

  <!-- フッター -->
  <div id="parent" th:replace="/common/footer"></div>  
  <!-- フッターリンク -->
  <div id="parent" th:replace="/common/footerlink"></div>  

<link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.0.0/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.0.0/datatables.min.js"></script>
</body>

   <!-- Vertically centered Modal -->
   <button id="registration-success" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#regi-success" style='display:none'></button>
   <div class="modal fade" id="regi-success" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="modaltitle">登録完了<i class="bx bxs-smile"></i>　</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
           <p id="modalmsg">登録が完了しました！</p>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
       </div>
     </div>
   </div><!-- End Vertically centered Modal-->
   
<script th:inline="javascript">
	const eventsearchButton = document.getElementById("eventsearchButton");
	const eventEntryButton = document.getElementById("eventEntryButton");
	const registrationSuccess = document.getElementById("registration-success");
	
	let  dataTable = $('#eventList').DataTable({
	   	      "paging": true,
      			"destroy":true,
	   	      "lengthChange": false,
	   	      "searching": true,
	   	      "ordering": true,
	   	      "info": true,
	   	      "autoWidth": false,
	   	      "responsive": true,
    });
    
    
	eventEntryButton.addEventListener('click',()=>{
		
		if( !confirm("イベントに申し込みします。確認画面はありません。よろしいですか？")){
			return;
		}
				
		let chkBoxes = document.getElementsByClassName("entrychk");
		
		if( chkBoxes.length == 0 ){
			alert("最低１つはチェックをしてください");
			return;
		}
		
		let evtIdArry = [];
		Array.from( chkBoxes ).forEach( (e)=>{
			if( e.checked ){
				//IDを取得
				evtIdArry.push( e.value );
			}
		});
		
 		const formData = new FormData();
 		formData.append('evtIdArry',evtIdArry );
 		 		
        const url = /*[[@{/event/entry}]]*/ "/event/entry";
        fetch(url,{method:"post",body: formData})
        //レスポンスの受け取り
        .then( response => response.json()).then(result => {
 			if( result.result != "OK"){
				const modaltitle = document.getElementById("modaltitle");
				const modalmsg = document.getElementById("modalmsg");
 				var msgs = "";
 				for(var err of result.errorList ){
 					msgs += err.msg + "<BR>";
 				}
 				modaltitle.innerHTML = "登録エラー";
 				modalmsg.innerHTML = msgs;
 				registrationSuccess.click();
 			}else{
 				//console.log(regiSuccessBtn);
 				modaltitle.innerHTML = "登録完了";
 				modalmsg.innerHTML = "登録が完了しました！";
 				registrationSuccess.click();
 			}
 		});
	});
	
    
	eventsearchButton.addEventListener('click',()=>{
	
		const companyName = document.getElementById("companyName");
		const startDate = document.getElementById("startDate");		
		const endDate = document.getElementById("endDate");		
 		let industryArry = [];
 		let index = 0;
 		for(let id=1; id <= /*[[${industryList.size()}]]*/0; id++){
 			const industryKind = document.getElementsByName("industryKind"+id);
 			for( let i=0; i<industryKind.length; i++){
 				if( industryKind[i].checked ){
 					industryArry[index] = industryKind[i].value
 					index++;
 				}
 			}
 		} 		
 		let stepArry = [];
 		index = 0;
		const stepchekes = document.getElementsByName("stepchk");
		for( let i=0; i<stepchekes.length; i++){
			if( stepchekes[i].checked ){
				stepArry[index] = stepchekes[i].value
				index++;
			}
		}
 		
 		const formData = new FormData();
 		formData.append('companyName',(companyName != null ? companyName.value : "") );
 		formData.append('startDateStr',startDate.value );
 		formData.append('endDateStr',endDate.value );
 		formData.append('industryArry',industryArry );
 		formData.append('stepArry',stepArry );
 		 		
        const url = /*[[@{/event/search}]]*/ "/event/search";
        fetch(url,{method:"post",body: formData})
        //レスポンスの受け取り
        .then( response => response.json()).then(resultList => {
 			//alert( resultList.length );
 			updateTable(resultList);
 		});
	});
</script>
<script th:inline="javascript" th:if="${session['loginInfo'].isAdmin()}">
	
	const openList = ( eventId )=>{
		alert(eventId);
	}
	
	const updateTable = (resultList)=>{
		dataTable.clear();
		dataTable.destroy();
		
 		 dataTable = $('#eventList').DataTable({
  	      "paging": true,
    			"destroy":true,
  	      "lengthChange": true,
  	      "searching": true,
  	      "ordering": true,
  	      "info": true,
  	      "autoWidth": false,
  	      "responsive": true,
		"data":resultList,
           "columns": [
           	{
           		data:"stepName" ,
           		type:"eventId",
               	render: function ( data, type, row ) {
               		const url = /*[[@{/event/detail}]]*/ "/event/entry";

               		return '<input type="checkbox" class="entrychk" value="'+row.eventId+'" >';
               	}
           	},
           	{
           		data:"companyName" ,
           		type:"companyId",
               	render: function ( data, type, row ) {
               		const url = /*[[@{/company/detail}]]*/ "/company/detail";

               		return '<a href="'+url+'?id='+row.companyId+'" target="companydetail">'+data+'</a>';
               	}
           	},
           	{
           		data:"stepName" ,
           		type:"eventId",
               	render: function ( data, type, row ) {
               		const url = /*[[@{/event/detail}]]*/ "/event/detail";

               		return '<a href="'+url+'?eventId='+row.eventId+'" target="eventdetail">'+data+'</a>';
               	}
           	},
           	{ data:"startDatetimeStr"},
           	{ data:"endDatetimeStr"},
           	{
           		data:"companyName" ,
           		type:"companyId",
               	render: function ( data, type, row ) {
               		const url = /*[[@{/event/detail}]]*/ "/event/detail";

               		return '<button class="btn btn-outline-primary" onclick="javascript:openList('+row.eventId+');">参加者一覧</button>';
               	}
           	},
           ]
  	    });
  	    dataTable.draw();
	}
</script>

<script th:inline="javascript" th:if="!${session['loginInfo'].isAdmin()}">
	const updateTable = (resultList)=>{
		dataTable.clear();
		dataTable.destroy();
		
 		 dataTable = $('#eventList').DataTable({
  	      "paging": true,
    			"destroy":true,
  	      "lengthChange": true,
  	      "searching": true,
  	      "ordering": true,
  	      "info": true,
  	      "autoWidth": false,
  	      "responsive": true,
		"data":resultList,
           "columns": [
           	{
           		data:"stepName" ,
           		type:"eventId",
               	render: function ( data, type, row ) {
               		const url = /*[[@{/event/detail}]]*/ "/event/entry";

               		return '<input type="checkbox" class="entrychk" value="'+row.eventId+'" >';
               	}
           	},
           	{
           		data:"companyName" ,
           		type:"companyId",
               	render: function ( data, type, row ) {
               		const url = /*[[@{/company/detail}]]*/ "/company/detail";

               		return '<a href="'+url+'?id='+row.companyId+'" target="companydetail">'+data+'</a>';
               	}
           	},
           	{
           		data:"stepName" ,
           		type:"eventId",
               	render: function ( data, type, row ) {
               		const url = /*[[@{/event/detail}]]*/ "/event/detail";

               		return '<a href="'+url+'?eventId='+row.eventId+'" target="eventdetail">'+data+'</a>';
               	}
           	},
           	{ data:"startDatetimeStr"},
           	{ data:"endDatetimeStr"}
           ]
  	    });
  	    dataTable.draw();
	}
</script>
</html>