<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/headerlink"></div>  
</head>

<body>

  
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/header"></div>  

  <!-- サイドバー -->
  <div id="parent" th:replace="/common/sidebar"></div>  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>求人登録</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">求人登録</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
          	<button class="btn btn-primary" id="addEvent">イベント追加</button>
            <div class="card" id="element-base-1" >
  			  <div class="card-header">
  			  </div>
              <div class="card-body d-flex input-element" th:each="event:${eventList}">
	              <div class="form-group col-md-6">
	                <label for="ans-input">場所</label>
	                <textarea id="ans-input" class="form-control ans-input" name="" placeholder="開催場所" th:text="${event.place}"></textarea>
	              </div>
	              <div class="form-group col-md-6">
	                <label for="ans-output">出力値<span class="float-right text-danger">（必須）</span></label>
	                <textarea id="ans-output" class="form-control ans-output" name="" placeholder="出力値"></textarea>
	              </div>
                  
              </div>
            </div><!-- card -->
            <button type="submit" class="btn btn-primary" id="jobentrybutton" >登録する</button>
          </div><!-- col-lg-12 -->
        </div><!-- row -->
      </div><!-- container -->
    </section>

  </main><!-- End #main -->

  <!-- フッター -->
  <div id="parent" th:replace="/common/footer"></div>  
  <!-- フッターリンク -->
  <div id="parent" th:replace="/common/footerlink"></div>  

   <!-- Vertically centered Modal -->
   <button id="registration-success" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#regi-success"></button>
   <div class="modal fade" id="regi-success" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">登録完了<i class="bx bxs-smile"></i>　</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
           <p>登録が完了しました！</p>
           <p>説明会や選考会の登録は「イベント登録」ボタンから登録してください<p>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
       </div>
     </div>
   </div><!-- End Vertically centered Modal-->
</body>
<script th:inline="javascript">
	const addEvent = document.getElementById("addEvent");
	
	addEvent.addEventListener('click',()=>{
		let element = document.getElementById("element-base-1");
		let clone_element = element.cloneNode(true);
		
		element.after(clone_element);
		
	});
</script>
</html>