<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/headerlink"></div>  
</head>

<body>

  
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/header"></div>  

  <!-- サイドバー -->
  <div id="parent" th:replace="/common/sidebar"></div>  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1 th:text="|${companyDetailDto.companyname}のイベント登録|"></h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">イベント登録</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="container">
        <div class="row col-3 p-3">
         <button class="btn btn-primary" id="addEvent">イベント追加</button>
        </div>
        <div class="row">
         <form  id="eventRegiForm" action="post">
         	<input type="hidden" name="companyId" th:value="${companyId}" >
         	<input type="hidden" name="recruitmentId" th:value="${recruitmentId}" >
          <div class="col-lg-12">
            <div class="card newevent eventElement" id="element-base" style='display:none'>
  			  <div class="card-header">
              	<div class="d-flex">
	              <div class="form-group col-md-10 p-3">
	                <button type="button" class="btn btn-primary deleteButton" data-id="0" onClick="javascript:clickDelete(this);">イベント削除</button>
	              </div>
              	</div>
  			  </div>
              <div class="card-body input-element">
              	<div class="d-flex">
	              <div class="form-group col-md-6 p-1">
	                <label for="ans-input">イベント種類</label>
                    <select class="form-select evt-kind" name="evt-kind">
                    	<option th:each="step : ${stepList}" th:value="${step.id}" th:text="${step.name}"></option>
                    </select>
	              </div>
	              <div class="form-group col-md-6 p-1">
	                <label for="ans-output">場所<span class="float-right text-danger">（必須）</span></label>
	                <input type="text" class="form-control ans-output evt-place" name="evt-place" placeholder="開催場所">
	              </div>    
              	</div>
              	<div class="d-flex">
	              <div class="form-group col-md-6 p-1">
	                <label for="ans-input">開始日時<span class="float-right text-danger">（必須）</span></label>	                
	                <input type="datetime-local" class="form-control ans-output evt-start" name="evt-start" placeholder="終了日時">
	              </div>
	              <div class="form-group col-md-6 p-1">
	                <label for="ans-output">終了日時<span class="float-right text-danger">（必須）</span></label>
	                <input type="datetime-local" class="form-control ans-output evt-end" name="evt-end" placeholder="終了日時">
	              </div>    
              	</div>
              	<div class="d-flex">
	              <div class="form-group col-md-10 p-1">
	                <label for="ans-input">必要書類<span class="float-right text-danger">（必須）</span></label>
	                <textarea class="form-control ans-input evt-document" name="evt-document" placeholder="必要書類"></textarea>
	              </div>
              	</div>
              	<div class="d-flex">
	              <div class="form-group col-md-10 p-1">
	                <label for="ans-input">イベント概要<span class="float-right text-danger">（必須）</span></label>
	                <textarea class="form-control ans-input evt-overview" name="evt-overview" placeholder="概要"></textarea>
	              </div>
              	</div>
              </div>
            </div>
            <div class="card editEventElement eventElement" th:each="event:${eventList}">
              <input type="hidden" class="eventId" th:value="${event.eventId}">
  			  <div class="card-header">
              	<div class="d-flex">
	              <div class="form-group col-md-10 p-1">
	                <button type="button" class="btn btn-primary deleteButton" data-id="0" onClick="javascript:clickDelete(this);" th:disabled="${event.entryNum!=0}" >イベント削除</button>
	              	<div th:text="|このイベントには現在${event.entryNum}人の登録があります|" ></div>
	              </div>
              	</div>
  			  </div>
              <div class="card-body input-element" >
              	<div class="d-flex">
	              <div class="form-group col-md-6 p-1">
	                <label for="ans-input">イベント種類</label>
                    <select class="form-select evt-kind">
                    	<option th:each="step : ${stepList}" th:value="${step.id}" th:text="${step.name}" th:selected="${step.id == event.stepId}"></option>
                    </select>
	              </div>
	              <div class="form-group col-md-6 p-1">
	                <label for="ans-output">場所<span class="float-right text-danger">（必須）</span></label>
	                <textarea id="ans-input" class="form-control ans-input evt-place" name="evt-place" placeholder="開催場所" th:text="${event.place}"></textarea>
	              </div>    
              	</div>
              	<div class="d-flex">
	              <div class="form-group col-md-6 p-1">
	                <label for="ans-input">開始日時<span class="float-right text-danger">（必須）</span></label>	                
	                <input type="datetime-local" class="form-control ans-output evt-start" name="evt-start" placeholder="開始日時" th:value="${event.start_datetime}">
	              </div>
	              <div class="form-group col-md-6 p-1">
	                <label for="ans-output">終了日時<span class="float-right text-danger">（必須）</span></label>
	                <input type="datetime-local" class="form-control ans-output evt-end" name="evt-end" placeholder="終了日時" th:value="${event.end_datetime}">
	              </div>    
              	</div>
              	<div class="d-flex">
	              <div class="form-group col-md-10 p-1">
	                <label for="ans-input">必要書類<span class="float-right text-danger">（必須）</span></label>
	                <textarea class="form-control ans-input evt-document" name="evt-document" placeholder="必要書類" th:text="${event.document}"></textarea>
	              </div>
              	</div>
              	<div class="d-flex">
	              <div class="form-group col-md-10 p-1">
	                <label for="ans-input">イベント概要<span class="float-right text-danger">（必須）</span></label>
	                <textarea class="form-control ans-input evt-overview" name="evt-overview" placeholder="概要" th:text="${event.overview}"></textarea>
	              </div>
              	</div>
              </div>
              </div>
            </div><!-- card -->
            <button type="button" class="btn btn-primary" id="eventEntrybutton" >登録する</button>
           </form>
          </div><!-- col-lg-12 -->
        </div><!-- row -->
      </div><!-- container -->
    </section>

  </main><!-- End #main -->

  <!-- フッター -->
  <div id="parent" th:replace="/common/footer"></div>  
  <!-- フッターリンク -->
  <div id="parent" th:replace="/common/footerlink"></div>  

   <!-- Vertically centered Modal -->
   <button id="registration-success" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#regi-success" style='display:none'></button>
   <div class="modal fade" id="regi-success" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">登録完了<i class="bx bxs-smile"></i>　</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
           <p>登録が完了しました！</p>
           <p>説明会や選考会の登録は「イベント登録」ボタンから登録してください<p>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
       </div>
     </div>
   </div><!-- End Vertically centered Modal-->
</body>
<script th:inline="javascript">
	const addEvent = document.getElementById("addEvent");
	const eventEntrybutton = document.getElementById("eventEntrybutton");
	const eventRegiForm = document.getElementById("eventRegiForm");
	
	const clickDelete = (obj)=>{
		//alert("clickDelete");
		//alert(obj.dataset.id);
		let pObj = obj.closest(".eventElement");
		
		//既にDBにある項目は削除するときに警告
		if(pObj.classList.contains("editEventElement")){
			if( !confirm("【重要】\nこのイベントを削除するとこのイベントに登録済みユーザーに影響があります。本当に削除しますか？") ){
				return;
			}
		}
		
		if( pObj != null ){
			pObj.classList.remove("addEventElement");
			pObj.classList.remove("editEventElement");
			pObj.classList.add("deleteEventElement");
			pObj.style.display = "none";
		}
		
	};
	
	addEvent.addEventListener('click',()=>{
		let element = document.getElementById("element-base");
		let clone_element = element.cloneNode(true);
		clone_element.classList.add("addEventElement");
		
		element.after(clone_element);
		clone_element.style.display = "block";
		
	});
	
	eventEntrybutton.addEventListener('click',()=>{
		if( !confirm("イベントを登録します。確認画面はありません。よろしいですか？")){
			return;
		}
		//番号降り直し
		numberingAddEvents();
		numberingEditEvents();
		numberingDeleteEvents();
		
 		const formData = new FormData(eventRegiForm);
 		 		
        const url = /*[[@{/event/regi}]]*/ "/event/regi";
        fetch(url,{method:"post",body: formData})
        //レスポンスの受け取り
        .then( response => response.json()).then(result => {
 			if( result.result != "OK"){
 				const errorText = document.getElementById('errrmessage');
 				var msgs = "";
 				for(var err of result.errorList ){
 					msgs += err.msg + "<BR>";
 				}
 				errorText.innerHTML = msgs;
 				alertarea.style.display = "block";
 			}else{
 				//console.log(regiSuccessBtn);
 				registrationSuccess.click();
 			}
 		});
	});
	
	const numberingAddEvents = ()=>{
	
		const elements = document.getElementsByClassName("addEventElement");
		let index = 0;
		 Array.from( elements ).forEach( (e) => {
		 
			let kinds = e.getElementsByClassName("evt-kind");
			Array.from( kinds ).forEach( (e)=>{
				e.setAttribute("name","addEvents["+index+"].kind");
			});
			
			let places = e.getElementsByClassName("evt-place");
			Array.from( places ).forEach( (e)=>{
				e.setAttribute("name","addEvents["+index+"].place");
			});
			let starts = e.getElementsByClassName("evt-start");
			Array.from( starts ).forEach( (e)=>{
				e.setAttribute("name","addEvents["+index+"].startDateStr");
			});
			let ends = e.getElementsByClassName("evt-end");
			Array.from( ends ).forEach( (e)=>{
				e.setAttribute("name","addEvents["+index+"].endDateStr");
			});
			let documents = e.getElementsByClassName("evt-document");
			Array.from( documents ).forEach( (e)=>{
				e.setAttribute("name","addEvents["+index+"].documentStr");
			});
			let overviews = e.getElementsByClassName("evt-overview");
			Array.from( overviews ).forEach( (e)=>{
				e.setAttribute("name","addEvents["+index+"].overviewStr");
			});
			let delBtn = e.getElementsByClassName("deleteButton");
			Array.from( delBtn ).forEach( (e)=>{
				e.dataset.id = index;
			});
			
			index++;
			//alert(index);
		 });
	}
	
	const numberingEditEvents = ()=>{
	
		const elements = document.getElementsByClassName("editEventElement");
		let index = 0;
		 Array.from( elements ).forEach( (e) => {
		 
			let eventId = e.getElementsByClassName("eventId");
			Array.from( eventId ).forEach( (e)=>{
				e.setAttribute("name","editEvents["+index+"].eventId");
			});
			let kinds = e.getElementsByClassName("evt-kind");
			Array.from( kinds ).forEach( (e)=>{
				e.setAttribute("name","editEvents["+index+"].kind");
			});
			
			let places = e.getElementsByClassName("evt-place");
			Array.from( places ).forEach( (e)=>{
				e.setAttribute("name","editEvents["+index+"].place");
			});
			let starts = e.getElementsByClassName("evt-start");
			Array.from( starts ).forEach( (e)=>{
				e.setAttribute("name","editEvents["+index+"].startDateStr");
			});
			let ends = e.getElementsByClassName("evt-end");
			Array.from( ends ).forEach( (e)=>{
				e.setAttribute("name","editEvents["+index+"].endDateStr");
			});
			let documents = e.getElementsByClassName("evt-document");
			Array.from( documents ).forEach( (e)=>{
				e.setAttribute("name","editEvents["+index+"].documentStr");
			});
			let overviews = e.getElementsByClassName("evt-overview");
			Array.from( overviews ).forEach( (e)=>{
				e.setAttribute("name","editEvents["+index+"].overviewStr");
			});
			let delBtn = e.getElementsByClassName("deleteButton");
			Array.from( delBtn ).forEach( (e)=>{
				e.dataset.id = index;
			});
			
			index++;
			//alert(index);
		 });
	}
	
	const numberingDeleteEvents = ()=>{
	
		const elements = document.getElementsByClassName("deleteEventElement");
		let index = 0;
		 Array.from( elements ).forEach( (e) => {
		 
			let eventId = e.getElementsByClassName("eventId");
			Array.from( eventId ).forEach( (e)=>{
				e.setAttribute("name","delEvents["+index+"].eventId");
			});
			let kinds = e.getElementsByClassName("evt-kind");
			Array.from( kinds ).forEach( (e)=>{
				e.setAttribute("name","delEvents["+index+"].kind");
			});
			
			let places = e.getElementsByClassName("evt-place");
			Array.from( places ).forEach( (e)=>{
				e.setAttribute("name","delEvents["+index+"].place");
			});
			let starts = e.getElementsByClassName("evt-start");
			Array.from( starts ).forEach( (e)=>{
				e.setAttribute("name","delEvents["+index+"].startDateStr");
			});
			let ends = e.getElementsByClassName("evt-end");
			Array.from( ends ).forEach( (e)=>{
				e.setAttribute("name","delEvents["+index+"].endDateStr");
			});
			let documents = e.getElementsByClassName("evt-document");
			Array.from( documents ).forEach( (e)=>{
				e.setAttribute("name","delEvents["+index+"].documentStr");
			});
			let overviews = e.getElementsByClassName("evt-overview");
			Array.from( overviews ).forEach( (e)=>{
				e.setAttribute("name","delEvents["+index+"].overviewStr");
			});
			
			index++;
			//alert(index);
		 });
	}
</script>
</html>