<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/headerlink"></div>  
</head>

<body>

  
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/header"></div>  

  <!-- サイドバー -->
  <div id="parent" th:replace="/common/sidebar"></div>  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>求人登録</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">求人登録</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="container">
        <div class="row">
         <button class="btn btn-primary" id="addEvent">イベント追加</button>
         <form th:action="@{/job/event/regi}" method="POST">
          <div class="col-lg-12">
            <div class="card newevent" id="element-base" style='display:none'>
  			  <div class="card-header">
  			  </div>
              <div class="card-body input-element">
              	<div class="d-flex">
	              <div class="form-group col-md-6 p-3">
	                <label for="ans-input">イベント種類</label>
                    <select class="form-select evt-kind" name="evt-kind">
                    	<option th:each="step : ${stepList}" th:value="${step.id}" th:text="${step.name}"></option>
                    </select>
	              </div>
	              <div class="form-group col-md-6 p-3">
	                <label for="ans-output">場所<span class="float-right text-danger">（必須）</span></label>
	                <input type="text" class="form-control ans-output evt-place" name="evt-place" placeholder="終了日時">
	              </div>    
              	</div>
              	<div class="d-flex">
	              <div class="form-group col-md-6 p-3">
	                <label for="ans-input">開始日時<span class="float-right text-danger">（必須）</span></label>	                
	                <input type="datetime-local" class="form-control ans-output evt-start" name="evt-start" placeholder="終了日時">
	              </div>
	              <div class="form-group col-md-6 p-3">
	                <label for="ans-output">終了日時<span class="float-right text-danger">（必須）</span></label>
	                <input type="datetime-local" class="form-control ans-output evt-end" name="evt-end" placeholder="終了日時">
	              </div>    
              	</div>
              	<div class="d-flex">
	              <div class="form-group col-md-10 p-3">
	                <label for="ans-input">必要書類<span class="float-right text-danger">（必須）</span></label>
	                <textarea class="form-control ans-input evt-document" name="evt-document" placeholder="必要書類"></textarea>
	              </div>
              	</div>
              	<div class="d-flex">
	              <div class="form-group col-md-10 p-3">
	                <button class="btn btn-primary" id="delEvent">イベント削除</button>
	              </div>
              	</div>
              </div>
            </div>
            <div class="card" >
  			  <div class="card-header">
  			  </div>
              <div class="card-body input-element" th:each="event:${eventList}">
              	<div class="d-flex">
	              <div class="form-group col-md-6 p-3">
	                <label for="ans-input">イベント種類</label>
                    <select class="form-select" id="jobtype1" name="jobtype1">
                    	<option th:each="step : ${stepList}" th:value="${step.id}" ></option>
                    </select>
	              </div>
	              <div class="form-group col-md-6 p-3">
	                <label for="ans-output">場所<span class="float-right text-danger">（必須）</span></label>
	                <textarea id="ans-input" class="form-control ans-input" name="" placeholder="開催場所"></textarea>
	              </div>    
              	</div>
              	<div class="d-flex">
	              <div class="form-group col-md-6 p-3">
	                <label for="ans-input">開始日時<span class="float-right text-danger">（必須）</span></label>	                
	                <input type="datetime-local" id="ans-output" class="form-control ans-output" name="" placeholder="終了日時">
	              </div>
	              <div class="form-group col-md-6 p-3">
	                <label for="ans-output">終了日時<span class="float-right text-danger">（必須）</span></label>
	                <input type="datetime-local" id="ans-output" class="form-control ans-output" name="" placeholder="終了日時">
	              </div>    
              	</div>
              	<div class="d-flex">
	              <div class="form-group col-md-10">
	                <label for="ans-input">必要書類<span class="float-right text-danger">（必須）</span></label>
	                <textarea id="ans-input" class="form-control ans-input" name="" placeholder="必要書類"></textarea>
	              </div>
              	</div>
              </div>
              </div>
            </div><!-- card -->
            <button type="submit" class="btn btn-primary" id="eventEntrybutton" >登録する</button>
           </form>
          </div><!-- col-lg-12 -->
        </div><!-- row -->
      </div><!-- container -->
    </section>

  </main><!-- End #main -->

  <!-- フッター -->
  <div id="parent" th:replace="/common/footer"></div>  
  <!-- フッターリンク -->
  <div id="parent" th:replace="/common/footerlink"></div>  

   <!-- Vertically centered Modal -->
   <button id="registration-success" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#regi-success"></button>
   <div class="modal fade" id="regi-success" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">登録完了<i class="bx bxs-smile"></i>　</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
           <p>登録が完了しました！</p>
           <p>説明会や選考会の登録は「イベント登録」ボタンから登録してください<p>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
       </div>
     </div>
   </div><!-- End Vertically centered Modal-->
</body>
<script th:inline="javascript">
	const addEvent = document.getElementById("addEvent");
	const eventEntrybutton = document.getElementById("eventEntrybutton");
	
	addEvent.addEventListener('click',()=>{
		let element = document.getElementById("element-base");
		let clone_element = element.cloneNode(true);
		
		element.after(clone_element);
		clone_element.style.display = "block";
		
		const elements = document.getElementsByClassName("newevent");
		let index = 0;
		 Array.from( elements ).forEach( (e) => {
		 
			let kinds = e.getElementsByClassName("evt-kind");
			Array.from( kinds ).forEach( (e)=>{
				e.setAttribute("name","addEvents["+index+"].kind");
			});
			
			let places = e.getElementsByClassName("evt-place");
			Array.from( places ).forEach( (e)=>{
				e.setAttribute("name","addEvents["+index+"].place");
			});
			let starts = e.getElementsByClassName("evt-start");
			Array.from( starts ).forEach( (e)=>{
				e.setAttribute("name","addEvents["+index+"].startDateStr");
			});
			let ends = e.getElementsByClassName("evt-end");
			Array.from( ends ).forEach( (e)=>{
				e.setAttribute("name","addEvents["+index+"].endDateStr");
			});
			let documents = e.getElementsByClassName("evt-document");
			Array.from( documents ).forEach( (e)=>{
				e.setAttribute("name","addEvents["+index+"].documentStr");
			});
			index++;
		 });
	});
	
</script>
</html>