<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/headerlink"></div>  
</head>

<body>

  
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/header"></div>  

  <!-- サイドバー -->
  <div id="parent" th:replace="/common/sidebar"></div>  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>お気に入り企業一覧</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">お気に入り企業一覧</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">           

            <!-- お知らせ -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body p-3">
                  <table class="table table-bordered table-striped">
                    <thead>
	                    <tr>
	                      <th scope="col">企業名</th>
	                      <th scope="col">登録日</th>
	                      <th scope="col">削除</th>
	                    </tr>
                    </thead>
                    <tbody>
                       <tr th:each="favorite:${favoriteList}">
	                      <td><a th:href="|@{/company/detail}?id=${favorite.companyId}|" th:text="${favorite.companyName}"></a></td>
	                      <td th:text="${favorite.registryDatetime}">123456</td>
	                      <td><button class="btn btn-primary my-2"　th:data-companyname="${favorite.companyName}" th:onClick="|javascript:deleteFavo(this,${favorite.companyId});|">削除</button></td>
	                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div><!-- End一覧 -->


          </div>
        </div><!-- End Left side columns -->


        </div><!-- End Right side columns -->

    </section>

  </main><!-- End #main -->
  <!-- フッター -->
  <div id="parent" th:replace="/common/footer"></div>  
  <!-- フッターリンク -->
  <div id="parent" th:replace="/common/footerlink"></div>  

   <!-- Vertically centered Modal -->
   <button id="registration-success" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#regi-success" style='display:none'></button>
   <div class="modal fade" id="regi-success" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">削除完了<i class="bx bxs-smile"></i>　</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
           削除が完了しました！
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" onClick="javascript:closeModal();" data-bs-dismiss="modal">Close</button>
         </div>
       </div>
     </div>
   </div><!-- End Vertically centered Modal-->
</body>
<script th:inline="javascript">
	const regiSuccessBtn = document.getElementById("registration-success");
	
	const closeModal = ()=>{
		location.reload();
	}
	
	//お気に入り削除
	const deleteFavo = ( obj,companyId )=>{

		if( !confirm("お気に入り情報を削除します。宜しいですか？")){
			return;
		}
		
 		const formData = new FormData();
 		formData.append('companyId',companyId );
 		 		
        const url = /*[[@{/favorite/delete}]]*/ "/favorite/delete";
        fetch(url,{method:"delete",body: formData})
        //レスポンスの受け取り
        .then( response => response.json()).then(result => {
 			if( result.result != "OK"){
 				const errorText = document.getElementById('errrmessage');
 				const alertarea = document.getElementById('alertmsg');
 				var msgs = "";
 				for(var err of result.errorList ){
 					msgs += err.msg + "<BR>";
 				}
 				errorText.innerHTML = msgs;
 				alertarea.style.display = "block";
 			}else{
 				//console.log(regiSuccessBtn);
 				regiSuccessBtn.click();
 			}
 		});
	};
</script>
</html>