<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/headerlink"></div>  
</head>

<body>

  
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/header"></div>  

  <!-- サイドバー -->
  <div id="parent" th:replace="/common/sidebar"></div>  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>求人詳細</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">求人詳細</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
  			  <div class="card-header">
  			  </div>
              <div class="card-body">
                <h5 class="card-title">求人情報</h5>				    			
                  <div class="alert alert-danger" role="alert" id="alertmsg" style='display:none'>
		            <strong id="errrmessage"></strong>
		          </div>
                  <!-- 入力項目の追加 -->
                  <!-- 例： -->
                  <div class="mb-3">
                    <label for="companyName" class="form-label">会社名称</label>
                    <p th:text="${jobDetail.companyName}"></p>
                  </div>
                  
                  <div class="row mb-3">
                    <div class="col-md-3">
                      <label for="targetYear" class="form-label">対象卒業年次</label>
                      <p th:text="${jobDetail.targetYear}"></p>
                    </div>
                    <div class="col-md-3">
                      <label for="joboffer" class="form-label">募集状況</label>
                      <p th:text="${jobDetail.joboffer}==0 ? '募集中':'募集終了'"></p>
                    </div>
                    <div class="col-md-3">
                      <label for="publicDate" class="form-label">情報公開開始日</label>
                      <p th:text="${jobDetail.getPublicDateString()}"></p>
                    </div>
                  </div>
                  
                  <div class="row mb-3">
                    <div class="col-md-10">
                      <label for="jobtype1" class="form-label">募集職種</label>
                      <span class="badge bg-primary companydetailicon"　th:text="${jobDetail.jobtype1}"></span>
                      <span class="badge bg-primary companydetailicon"　th:if="${jobDetail.jobtype2}!=''" th:text="${jobDetail.jobtype2}"></span>
                      <span class="badge bg-primary companydetailicon"　th:if="${jobDetail.jobtype3}!=''" th:text="${jobDetail.jobtype3}"></span>
                      <span class="badge bg-primary companydetailicon"　th:if="${jobDetail.jobtype4}!=''" th:text="${jobDetail.jobtype4}"></span>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-md-4">
                      <label for="employmentType" class="form-label">雇用形態</label>
                      <p th:text="${jobDetail.getEmploymentTypeStr()}"></p>
                    </div>
                    <div class="col-md-4">
                      <label for="housingAvailability" class="form-label">寮の有無</label>
                      <p th:text="${jobDetail.housingAvailability} == 1 ? 'あり':'なし'"></p>
                    </div>
                    <div class="col-md-4">
                      <label for="housingAvailability" class="form-label">賃金形態</label>
                      <p th:text="${jobDetail.getSalaryTypeStr()}"></p>
                    </div>
                  </div>

                  <div class="row mb-3">
                  		<label for="baseSalary" class="form-label">賃金</label>
	                  <table class="table table-bordered">
	                    <thead>
	                      <tr>
	                        <th scope="col"></th>
	                        <th scope="col">２年コース</th>
	                        <th scope="col">３年コース</th>
	                        <th scope="col">４年コース</th>
	                      </tr>
	                    </thead>
	                    <tbody>
	                      <tr>
	                        <th scope="row">基本給</th>
	                        <td th:text="${jobDetail.baseSalaryFor2}"></td>
	                        <td th:text="${jobDetail.baseSalaryFor3}"></td>
	                        <td th:text="${jobDetail.baseSalaryFor4}"></td>
	                      </tr>
	                      <tr>
	                        <th scope="row" th:text="${jobDetail.optionName1}"></th>
	                        <td th:text="${jobDetail.option1For2}"></td>
	                        <td th:text="${jobDetail.option1For3}"></td>
	                        <td th:text="${jobDetail.option1For4}"></td>
	                      </tr>
	                      <tr>
	                        <th scope="row" th:text="${jobDetail.optionName2}"></th>
	                        <td th:text="${jobDetail.option2For2}"></td>
	                        <td th:text="${jobDetail.option2For3}"></td>
	                        <td th:text="${jobDetail.option2For4}"></td>
	                      </tr>
	                      <tr>
	                        <th scope="row" th:text="${jobDetail.optionName3}"></th>
	                        <td th:text="${jobDetail.option3For2}"></td>
	                        <td th:text="${jobDetail.option3For3}"></td>
	                        <td th:text="${jobDetail.option3For4}"></td>
	                      </tr>
	                      <tr>
	                        <th scope="row">合計（自動計算）</th>
	                        <td><input type="text" class="form-control" readonly></td>
	                        <td><input type="text" class="form-control" readonly></td>
	                        <td><input type="text" class="form-control" readonly></td>
	                      </tr>
	                    </tbody>
	                  </table>
                  </div>
					
                  <div class="col-md-10">
                    <label class="form-label">必要書類</label>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" value="1" type="checkbox" id="resume" name="resume" th:checked="${jobDetail.resume}" disabled='true'>
                      <label class="form-check-label" id="resume" for="resume">履歴書</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" value="1" type="checkbox" id="expectedGraduation" name="expectedGraduation" th:checked="${jobDetail.expectedGraduation}" disabled='true'>
                      <label class="form-check-label" id="expectedGraduation" for="expectedGraduation">卒業見込み</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" value="1" type="checkbox" id="transcript" name="transcript" th:checked="${jobDetail.transcript}" disabled='true'>
                      <label class="form-check-label" id="transcript" for="transcript">成績表</label>
                    </div>
                    <div class="mb-3">
                      <label for="otherInput" class="form-label">その他の内容</label>
                      <p th:text="${jobDetail.otherInput}"></p>
                    </div>
                  </div>
                  
                  <button type="submit" class="btn btn-primary" id="jobeditButton" th:if="${session['loginInfo'].isAdmin() || session['loginInfo'].isCompany()}" >変更する</button>
              </div>
            </div><!-- card -->
          </div><!-- col-lg-12 -->
        </div><!-- row -->
      </div><!-- container -->
    </section>

  </main><!-- End #main -->

  <!-- フッター -->
  <div id="parent" th:replace="/common/footer"></div>  
  <!-- フッターリンク -->
  <div id="parent" th:replace="/common/footerlink"></div>  

   <!-- Vertically centered Modal -->
   <button id="registration-success" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#regi-success"></button>
   <div class="modal fade" id="regi-success" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">登録完了<i class="bx bxs-smile"></i>　</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
           <p>登録が完了しました！</p>
           <p>説明会や選考会の登録は「イベント登録」ボタンから登録してください<p>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         </div>
       </div>
     </div>
   </div><!-- End Vertically centered Modal-->
</body>
<script th:inline="javascript">
	const jobentrybutton = document.getElementById("jobentrybutton");
	const registrationSuccess = document.getElementById("registration-success");
	const eventRegi = document.getElementById("eventRegi");
	let recruitment_id = -1;
	
	//イベント登録クリック
	eventRegi.addEventListener('click',()=>{
		if( recruitment_id == -1 ){
			alert("求人を登録してからイベント登録してください");
			return;
		} 
		
 		const formData = new FormData();
 		
 		formData.append('companyId',/*[[${companyId}]]*/0 ); 		
 		formData.append('recruitmentId',recruitment_id );
 		
        let url = /*[[@{/event/regi}]]*/ "/event/regi";
 
 		url += "?companyId=" + /*[[${companyId}]]*/0;
 		url += "&recruitmentId=" + recruitment_id;

 		window.location.href = url;
	});
	//求人登録エントリ
	jobentrybutton.addEventListener('click',()=>{
		if( !confirm("ユーザーを登録します。確認画面はありません。よろしいですか？")){
			return;
		}
		
		//項目取得
    	const jobtype1 = document.getElementById('jobtype1');
    	const jobtype2 = document.getElementById('jobtype2');
    	const jobtype3 = document.getElementById('jobtype3');
    	const jobtype4 = document.getElementById('jobtype4');
 
    	const employmentType = document.getElementById('employmentType');
    	const housingAvailability = document.getElementById('housingAvailability');
    	const salaryType = document.getElementById('salaryType');
 
    	const baseSalaryFor2 = document.getElementById('baseSalaryFor2');
    	const baseSalaryFor3 = document.getElementById('baseSalaryFor3');
    	const baseSalaryFor4 = document.getElementById('baseSalaryFor4');
    	const optionName1 = document.getElementById('optionName1');
    	const optionName2 = document.getElementById('optionName2');
    	const optionName3 = document.getElementById('optionName3');
    	const option1For2 = document.getElementById('option1For2');
    	const option2For2 = document.getElementById('option2For2');
    	const option3For2 = document.getElementById('option3For2');
    	const option1For3 = document.getElementById('option1For3');
    	const option2For3 = document.getElementById('option2For3');
    	const option3For3 = document.getElementById('option3For3');
    	const option1For4 = document.getElementById('option1For4');
    	const option2For4 = document.getElementById('option2For4');
    	const option3For4 = document.getElementById('option3For4');
 
    	const resume = document.getElementById('resume');
    	const expectedGraduation = document.getElementById('expectedGraduation');
    	const transcript = document.getElementById('transcript'); 
    	const otherInput = document.getElementById('otherInput');
 
    	const targetYear = document.getElementById('targetYear');
    	const joboffer = document.getElementById('joboffer');
    	const publicDate = document.getElementById('publicDate');
 
 
 		const formData = new FormData();
 		
 		formData.append('companyId',/*[[${companyId}]]*/0 );
 		
 		formData.append('jobtype1',jobtype1.value );
 		formData.append('jobtype2',jobtype2.value );
 		formData.append('jobtype3',jobtype3.value );
 		formData.append('jobtype4',jobtype4.value );
 		
 		formData.append('employmentType',employmentType.value );
 		formData.append('housingAvailability',housingAvailability.value );
 		formData.append('salaryType',salaryType.value );
 		
 		formData.append('baseSalaryFor2',baseSalaryFor2.value );
 		formData.append('baseSalaryFor3',baseSalaryFor3.value );
 		formData.append('baseSalaryFor4',baseSalaryFor4.value );
 		
 		formData.append('optionName1',optionName1.value );
 		formData.append('optionName2',optionName2.value );
 		formData.append('optionName3',optionName3.value );
 		formData.append('option1For2',option1For2.value );
 		formData.append('option2For2',option2For2.value );
 		formData.append('option3For2',option3For2.value );
 		formData.append('option1For3',option1For3.value );
 		formData.append('option2For3',option2For3.value );
 		formData.append('option3For3',option3For3.value );
 		formData.append('option1For4',option1For4.value );
 		formData.append('option2For4',option2For4.value );
 		formData.append('option3For4',option3For4.value );
 		
 		formData.append('resume',resume.value );
 		formData.append('expectedGraduation',expectedGraduation.value );
 		formData.append('transcript',transcript.value );
 		formData.append('otherInput',otherInput.value );
 		 		
 		formData.append('targetYear',targetYear.value );
 		formData.append('joboffer',joboffer.value );
 		formData.append('publicDate',publicDate.value );
 		
        const url = /*[[@{/job/regi}]]*/ "/job/regi";
        fetch(url,{method:"post",body: formData})
        //レスポンスの受け取り
        .then( response => response.json()).then(result => {
 			const alertarea = document.getElementById('alertmsg');
 			if( result.result != "OK"){
 				const errorText = document.getElementById('errrmessage');
 				var msgs = "";
 				for(var err of result.errorList ){
 					msgs += err.msg + "<BR>";
 				}
 				errorText.innerHTML = msgs;
 				alertarea.style.display = "block";
 				location.href="#alertmsg";
 				regi_event.disabled = true;
 			}else{
 				//console.log(regiSuccessBtn);
 				recruitment_id = result.value;
 				registrationSuccess.click();
 				regi_event.disabled = false;
 				alertarea.style.display = "none";
 			}
 		});
	});
</script>
</html>