<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/headerlink"></div>  

</head>

<body>
  <!-- ヘッダー -->
  <div id="parent" th:replace="/common/header"></div>  

  <!-- サイドバー -->
  <div id="parent" th:replace="/common/sidebar"></div> 

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>学内説明会検索</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
    	<div class="row">
    		 <div class="col-lg-12">
    		 	<div class="card">
    		 		<div class="card-body">
              			<h5 class="card-title">受験中企業一覧</h5>
              			<button class="btn btn-outline-primary">追加</button>
              			<table class="table table-bordered datatable">
	              			<thead>
			                  <tr>
			                    <th scope="col">企業名</th>
			                    <th scope="col">種類</th>
			                    <th scope="col">状況</th>
			                    <th scope="col">日時</th>
			                    <th scope="col">#</th>
			                  </tr>
			                </thead>
			                <tbody>
		                       <tr th:each="jh:${jhList}">
			                      <td><a th:href="|@{/company/detail}?id=${jh.companyId}|" th:text="${jh.companyName}"></a></td>
			                      <td th:text="${jh.stepName}">123456</td>
			                      <td>
                          			<span class="badge bg-secondary" th:if="${jh.status.isBefore()}" th:text="${jh.getStatusName()}" ></span>
                          			<span class="badge bg-info text-dark" th:if="${jh.status.isAfter()}" th:text="${jh.getStatusName()}" ></span>
                          			<span class="badge bg-success" th:if="${jh.status.isPassed()}" th:text="${jh.getStatusName()}" ></span>
                          			<span class="badge bg-dark" th:if="${jh.status.isNotPassed()}" th:text="${jh.getStatusName()}" ></span>
			                      </td>
			                      <td th:text="${jh.eventDate}">123456</td>
			                      <td>
			                      	<button class="btn btn-primary"　th:data-companyname="${jh.companyName}" th:onClick="|javascript:deleteFavo(this,${jh.companyId});|">報告書</button>
			                      </td>
			                    </tr>
			                </tbody>
              			</table><!-- table -->
              		</div><!-- card-body -->
    		 	</div><!-- card -->
    		 </div><!-- col-lg-12 -->
    	</div><!--row-->
    </section>

  </main><!-- End #main -->

  <!-- フッター -->
  <div id="parent" th:replace="/common/footer"></div>  
  <!-- フッターリンク -->
  <div id="parent" th:replace="/common/footerlink"></div>  
  
  <script>

  </script>

</body>

</html>